body, html {
  margin: 0;
  height: 100%;
}

.login-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  background-color: #ffffff; 
}

mat-card {
  width: 350px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.full-width {
  width: 100%;
  background-color: #ffffff;
}


.button-group {
  display: flex;
  gap: 10px;  
  margin-top: 10px;
}

.button-group button {
  flex: 1;    
}

.overall {
  background-color: white;
}

.design {
  background-color: #ffffff;
}