.table-card {
  padding: 16px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-table {
  width: 100%;
  margin-top: 16px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.user-row:hover {
  background: #f6f8ff;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
  size: 20px;
  color: blue;
}

.pageselect {
  background-color: white;
}