.table-card {
  padding: 16px;
  border-radius: 6px;
  background-color: #ffffff;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-field {
  width: 380px;
  height: 10px;
  margin-bottom: 40px;
  padding: 0;
}

.search-field input {
  height: 12px;
  font-size: 14px;
  padding: 4px 8px;
}


.user-table {
  width: 100%;
  margin-top: 16px;
  cursor: pointer;
  background-color: #ffffff;
}

.user-row:hover {
  background: #e3f2fd;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
  color: blue;
}

.pageselect {
  background-color: white;
}
