.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding-left: 8px; 
}

mat-toolbar span:first-child {
  font-weight: bold;
  font-size: 20px; 
}

.custom-toolbar {
  background-color: #1e38fa; 
  color: white; 
}
.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding-left: 8px;
}

mat-toolbar span:first-child {
  font-weight: bold;
  font-size: 20px;
}

.custom-toolbar {
  background-color: #1e38fa;
  color: white;
}


