<mat-toolbar  class="custom-toolbar">
  <span>Bezohminds</span>
  <span class="spacer"></span>

  <button class="custom-toolbar" mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <button class="custom-toolbar" mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
